@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

// Globals
$body-font-family: 'Roboto', sans-serif;
$border-radius-root: 6px;
$font-size-root: 17px;


// Banner
$font-size-hometext: 25px;
$body-font-family: 'Poppins', sans-serif;
$subtitle-font-family: 'Roboto', sans-serif;

// Leads
$font-size-helpText: 20px;
$padding-helpText: 15px;